<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Rush Personnel Services Inc.</h1>
    <p class="lead">Find your People</p>
    <img src="assets/images/Note.png" alt="Rush Personnel">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Latest Job Openings:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label><h1>Since you're logged in as a Rush Coordinator you may Delete and Post Latest Job Openings. A Link will be created that takes them to a page to review job details and apply.</h1></label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New Job</button>
      </span>
    </p>
  </form>

      <div>
        <div ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">You're not logged in. Login here.</a></div>
        <div ng-show="$ctrl.isLoggedIn()">

          <p>Hello {{ $ctrl.getCurrentUser().name }} you are logged in!</p> 

          <br>

          <p>Your are logged in as a {{ $ctrl.getCurrentUser().role }}, Welcome!</p> 


        </div>
        

      </div>





</div>
